@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

/* reset */
html,body { height:100%; font-family: 'Poppins','Noto Sans KR', sans-serif; color: black; }
body,div,p,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,button,input { margin:0; padding:0; }
body,h1,h2,h3,h4,p,input,button { font-size:16px; }
h2 { font-size: 4vh; }
h3 { font-size: 1.5em; }
p { font-weight: 500; line-height: 160%; }
ul,li,ol { list-style:none; }
img,fieldset,iframe { border:0; }
img { vertical-align:top; max-width: 1300px; }
table { border-collapse:collapse; }
a { text-decoration: none; color: #e50112; font-weight: 600; }
a:hover { color: #e50112; font-style: italic; }


/*layout*/
.visual { position: fixed; top:0; left:0; width:100%; height:100vh;  text-align: center; z-index: -1000; }
.contents { width:80%; margin:0 auto; margin-bottom: 100px; }
.contents img { width:100%; }
footer { width:80%; margin:0 auto; margin-bottom: 20px; }



/* gnb */

.gnb { position:fixed; height:100vh; width:300px; top:0px; right:-240px; z-index: 100; transition: .5s; }


.btn { position: absolute; left:20px; top:20px; width:30px; height:25px; cursor: pointer; z-index: 0; }
.line { transition: .5s; width:30px; height:4px; background:#e50112; position: absolute; right:0px; }
.n1 { top:0px; }
.n2 { top:12px; }
.n3 { top:23px; }

.menu { font-size: 1.7em; line-height: 250%; position: absolute; left:70px; top:200px; }


/*LOGO*/
.logo { position: -webkit-sticky; position: sticky; z-index:0;
    top: 20px; width: 180px; margin: 0 auto; margin-top: 100vh; }
.logo img { width:100%; }

/*visual*/
.visl { display: inline-block; position: relative; top:0; left:0; width:45%; height: 100%; text-align: right; }
.visr { display: inline-block; position: relative; top:0; right:0; width:45%; height: 100%; text-align: left;}
.visual img { height:100%; width: auto; }



/*contents*/
.greet { text-align: center; margin-top: 50vh; }
.greet h2 { margin-top: 30px; margin-bottom: 100px; }
.greet h3 { margin-bottom: 20px; line-height: 150%; }
.greet img { width: 100%; }
.greet a { color: #e50112; font-size: 1.2em; }

.shop { text-align: center; position: relative; z-index: 10; }
.shop .shop-btn { font-size: 4vh; background: white; border: #e50112 solid 3px; border-radius: 50%; padding:25px; margin-bottom: 100px; position: absolute; top:50%; left:50%; transform: translate(-50%, -50%);  }

footer { font-size: 0.7em; margin-top: 180px; text-align: left; }
footer ul li { float: left; margin-right:5px; }
footer::after { content: ""; display: block; clear: both; }


@media all and (max-width:600px) {
    .contents { width:90%; }
    .visr img { opacity: 0; }
    .visl img { width: 95vw; max-height:700px;}
    footer { margin-top: 80px; }
    .shop .shop-btn { padding: 17px; }
    .greet h3,p { text-align: left; }
    .menu { top:150px; }
    .logo { width:100px; }
}

@media all and (min-width:600px) and (max-width:1450px) { /* μ¤λ§νΈν° */
    .visr img { opacity: 0; }
}